<!DOCTYPE html>
<h1>{{title}}</h1>

<div class="list" *ngIf="journeys">
  <!-- <div> -->
  These are some trips
   <!-- <ul>
    <li *ngFor="let journey of journeys">
      {{ journey.type }}
    </li>
  </ul> -->
  <mat-table [dataSource] = "testData" *ngIf="testData.length > 0">

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Mode </th>
      <td mat-cell *matCellDef="let journey"> {{journey.type}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let journey"> {{journey.duration}} </td>
    </ng-container>

    <ng-container matColumnDef="fare">
      <th mat-header-cell *matHeaderCellDef> Fare </th>
      <td mat-cell *matCellDef="let journey"> {{journey.fare}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    
  </mat-table>
  <!-- <mat-list>
    <mat-list-item *ngFor="let trip of trips">
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine> {{trip.name}} </h3>
      <p matLine>
        <span> {{trip.id}} </span>
        <span class="demo-2"> -- {{trip.code}} </span>
      </p>
    </mat-list-item>
  </mat-list>  -->
</div>