<!DOCTYPE html>
<h1>{{title}}</h1>

<!-- <div class="list" *ngIf="trips"> -->
  <div>
  These are some trips
   <!-- <ul>
    <li *ngFor="let trip of trips">
      {{ trip.name }}
    </li>
  </ul> -->
  <!-- <mat-list>
    <mat-list-item *ngFor="let trip of trips">
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine> {{trip.name}} </h3>
      <p matLine>
        <span> {{trip.id}} </span>
        <span class="demo-2"> -- {{trip.code}} </span>
      </p>
    </mat-list-item>
  </mat-list>  -->
</div>