<!DOCTYPE html>
<head>
  <title>Find-a-Trip</title>
<h1>{{title}}</h1>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>
<mat-toolbar class="app-toolbar"><!-- style="background: linear-gradient(to right,#39603D, rgb(19, 105, 33))"> -->
  <!-- <span color="white"> Find-a-Trip</span> -->
  <img class="img-fluid" src={{logo}}>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu style="display: flex" #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>announcement</mat-icon>
      <span>Issues</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>

<br>

<mat-form-field class="search">
  <mat-select width="30%"
      [(ngModel)]="selected1" placeholder="Start" (valueChange)="onSelection()">
    <mat-option
        *ngFor="let stop of stops"
        value="{{ stop.key }}">
      {{ stop.key }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select
      [(ngModel)]="selected2" placeholder="Destination" (valueChange)="onSelection()">
    <mat-option
        *ngFor="let stop of stops"
        value="{{ stop.key }}">
      {{ stop.key }}
    </mat-option>
  </mat-select>
</mat-form-field>

  <div class="journeys">
  <mat-table table-responsive-mat [dataSource] = "testData" *ngIf="testData.length > 0" class="mat-elevation-z8 rows">
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Mode </mat-header-cell>
      <!-- <mat-icon fas icon="leaf" class="mr-2 blue-text" aria-hidden="true">Lorem</mat-icon> -->
      <!-- <i class="material-icons" mat-cell *matCellDef="let journey">{{modeIcon(journey.type)}}</i> {{journey.type}} -->
      <mat-cell *matCellDef="let journey"> {{journey.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
      <mat-cell *matCellDef="let journey"> {{journey.duration}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fare">
      <mat-header-cell *matHeaderCellDef> Fare </mat-header-cell>
      <mat-cell *matCellDef="let journey"> {{journey.fare}} </mat-cell>
    </ng-container>

   
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row [style.border-bottom]="'3px solid black'" *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>